$body-background: #6aa265; 
$dark-body-background: #0b1c01;
$dark-green: #033301;
$green: #6aa265;
$light-green: #739e58;
$blue: #34409c;
$brown: #5c230d;
$light-brown: #d85a29;
$header-color: #fff;
$font-color: #000;


$link_old: #ffd700;
$link_hover_old: #9f8300;
$link_active_old: #3c640f;
$silver: #30303a;